[submodule "Google-Sticker-Mashup-Research"]
	path = Google-Sticker-Mashup-Research
	url = https://github.com/UCYT5040/Google-Sticker-Mashup-Research.git
[submodule "noto-emoji"]
	path = noto-emoji
	url = https://github.com/googlefonts/noto-emoji.git
